    /* Default CSS */
    
    html {
        box-sizing: border-box;
    }
    
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    /****************************************************/
    /* Blank Spaces */
    
    .blankspace {
        padding: 5%;
    }
    
    .middleBlankSpace {
        padding: 5px;
    }
    /****************************************************/
    /* Visibility of Elements */
    
    .visibilityOfElement {
        visibility: hidden;
    }
    /****************************************************/
    /* Fonts */
    
    @font-face {
        font-family: 'calibril';
        src: url("../fonts/calibril.ttf");
    }
    /****************************************************/
    /* ---- Header Section starts ---- */
    
    .headerTagContainer {
        position: fixed;
        z-index: 99;
        width: 100%;
    }
    
    .headerWrapper {
        display: flex;
        flex-direction: row;
    }
    
    .headerItem {
        flex: 1;
        margin-bottom: 10px;
    }
    
    #headerItemsContainer {
        overflow: hidden;
        text-decoration: none;
        background-color: #ffffff;
        padding-top: 10px;
        transition: height 0.4s;
    }
    /* Logo */
    
    .headerLogoItemContainer {
        display: flex;
        margin-bottom: 10px;
        justify-content: flex-start;
    }
    
    #logo {
        padding: 3px;
    }
    /* Navigation Menu */
    
    .stateOne {
        display: none;
    }
    
    .headerMenuButton {
        display: none;
    }
    
    .headerMenuItemContainer {
        display: flex;
        flex: 3;
        margin-bottom: 10px;
        justify-content: flex-end;
    }
    
    .menuLinkContent {
        display: flex;
        padding-right: 50px;
        flex-direction: row;
    }
    
    .menuLinkContent a {
        color: black;
        font-family: 'Quicksand', sans-serif;
        text-align: center;
        padding-top: 6px;
        padding-bottom: 5px;
        text-decoration: none;
        font-size: 20px;
        line-height: 25px;
    }
    
    .menu-location {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .menuLinkContent a:hover.menu-location {
        background: linear-gradient(130deg, #4394DD, #2CD3D5);
        background-size: 25px 5px;
        background-repeat: no-repeat;
        border-radius: 10%;
    }
    /*Navigation Menu display vertically for screen less than 992px-Small Screen */
    
    @media screen and (max-width: 992px) {
        /* logo size change */
        .headerLogoItemContainer {
            justify-content: center;
        }
        .headerMenuItemContainer {
            display: none;
            justify-content: center;
            /* Other color option */
            /* background-color: rgba(78, 105, 252, 0.1); */
            background-color: #000000;
        }
        .headerMenuItemContainer>* {
            position: absolute;
            /* Other color option */
            /* background-color: rgb(0, 0, 0, 0.1); */
            background-color: #000000;
            width: 100%;
            height: 100%;
        }
        .headerWrapper {
            flex-direction: column;
        }
        .stateOne {
            display: flex;
            background-color: #000000;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 20px;
        }
        .petaStateOne {
            margin: 5px;
            background-color: #FFFFFF;
            height: 3px;
            width: 35px;
        }
        .petaStateTwo {
            margin: 5px;
            background-color: #FFFFFF;
            height: 3px;
            width: 35px;
        }
        .menuButton {
            padding: 5px;
            background-color: #000000;
            border-width: 0px;
        }
        .cellBorder {
            /* Other color and style option */
            /* border-bottom: 3px solid #CCCCCB; */
            /* border-bottom: 3px solid rgba(78, 105, 252, 0.7); */
            border-bottom: 3px solid #34B3D9;
            text-align: center;
            padding-left: 20px;
            padding-right: 20px;
            display: block;
        }
        .cellBorder:hover {
            border-radius: 20px;
        }
        .menuLinkContent {
            flex-direction: column;
            padding-right: 0px;
        }
        .menu-location {
            padding: 50px;
            margin-bottom: 5px;
        }
        .menuLinkContent a {
            color: whitesmoke;
        }
        .scrollLock {
            overflow: hidden;
            position: fixed;
        }
    }
    /* ---- Header Section ends ---- */
    /****************************************************/
    /* ---- Introduction Section starts ---- */
    
    .mainHomeContainer {
        display: flex;
        flex-direction: column;
        background: #000000;
        padding-bottom: 10%;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 150px;
    }
    
    h1 {
        font-size: 30px;
        line-height: 1.125;
        font-weight: 400;
        letter-spacing: -.022em;
        font-family: 'Roboto', sans-serif;
        color: #F5F5F7;
        font-style: normal;
        margin: 0px;
        padding: 0px;
    }
    
    h2 {
        font-size: 28px;
        line-height: 1.125;
        font-weight: 400;
        letter-spacing: -.022em;
        font-family: 'Roboto', sans-serif;
        color: #F5F5F7;
        font-style: normal;
        margin: 0px;
        padding: 0px;
    }
    
    h3 {
        font-size: 18px;
        line-height: 1.125;
        font-weight: 400;
        letter-spacing: -.022em;
        font-family: 'Roboto', sans-serif;
        color: #2997FF;
        font-style: normal;
        text-align: center;
        margin: 0px;
        padding: 0px;
    }
    
    h4 {
        font-size: 17px;
        line-height: 1.125;
        font-weight: 400;
        letter-spacing: -.022em;
        font-family: 'Roboto', sans-serif;
        color: #F5F5F7;
        font-style: normal;
        text-align: center;
        margin: 0px;
        padding: 0px;
    }
    
    h5 {
        font-size: 25px;
        line-height: 1.125;
        letter-spacing: -.022em;
        font-family: 'Lato', sans-serif;
        color: #020204;
        font-style: normal;
        text-align: center;
        margin: 0px;
        padding-bottom: 25px;
        padding-top: 25px;
    }
    
    h6 {
        font-size: 22px;
        line-height: 1.125;
        letter-spacing: -.022em;
        font-family: 'Lato', sans-serif;
        color: #000000;
        font-style: normal;
        text-align: left;
        margin: 0px;
        padding-bottom: 25px;
        padding-top: 25px;
    }
    
    .nameWrapper {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 30px;
        padding-right: 30px;
        margin: 0px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .postWrapper {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 30px;
        padding-right: 30px;
        margin: 0px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .sentanceWrapper {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 30px;
        padding-right: 30px;
        margin: 0px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .bannerButtonWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .buttonBanner {
        display: inline-flex;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
    }
    
    .buttonBanner>div {
        position: relative;
        width: 300px;
        height: 50px;
        margin: 0 15px;
        perspective: 1000px;
    }
    
    .buttonBanner>div>a {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transform: translateZ(-25px);
        transition: transform 0.25s;
    }
    
    .buttonBanner>div>a::before,
    .buttonBanner>div>a::after {
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 300px;
        height: 50px;
        position: absolute;
        border: 5px solid black;
        box-sizing: border-box;
        content: attr(title);
        display: flex;
    }
    
    .buttonBanner>div>a::before {
        background-color: #000;
        color: #2997FF;
        /* Other color option */
        /* color: #fff; */
        transform: rotateY(0deg) translateZ(25px);
    }
    
    .buttonBanner>div>a::after {
        background-color: #fff;
        border-color: #000;
        color: #000;
        transform: rotateX(90deg) translateZ(25px);
    }
    
    .buttonBanner>div>a:hover {
        transform: translateZ(-25px) rotateX(-90deg);
    }
    
    .homeImageWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .homeImageItem {
        flex: 1;
        margin-left: 25%;
        margin-right: 25%;
    }
    
    .homeImageWrapper img {
        width: 100%;
    }
    /* Home Section for Desktop Screen */
    
    @media screen and (min-width: 992px) {
        h1 {
            padding-top: 2px;
            padding-bottom: 2px;
            font-size: 42px;
            line-height: 1.47059;
            font-weight: 400;
            letter-spacing: -.022em;
            font-family: 'Roboto', sans-serif;
            color: #F5F5F7;
            font-style: normal;
            text-align: center;
        }
        h2 {
            padding-top: 2px;
            padding-bottom: 2px;
            font-size: 42px;
            line-height: 1.47059;
            font-weight: 400;
            letter-spacing: -.022em;
            font-family: 'Roboto', sans-serif;
            color: #F5F5F7;
            font-style: normal;
            text-align: center;
        }
        h3 {
            padding-top: 2px;
            padding-bottom: 2px;
            font-size: 25px;
            line-height: 1.47059;
            font-weight: 400;
            letter-spacing: -.022em;
            font-family: 'Roboto', sans-serif;
            color: #2997FF;
            font-style: normal;
            text-align: center;
        }
        .buttonBanner {
            font-size: 20px;
        }
    }
    /* ---- Introduction Section ends ---- */
    /****************************************************/
    /* ---- About Me Section starts ---- */
    
    .mainAboutContentRow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: #FBFBFD;
    }
    
    .mainAboutContentColumnOne {
        flex: 1;
        margin: 10px;
        background-color: #FBFBFD;
    }
    
    .mainAboutImageContent {
        padding: 10px;
        margin: 10px;
    }
    
    .mainAboutImageContent img {
        width: 100%;
    }
    
    .mainAboutTextParaContent {
        font-family: 'David Libre', serif;
        font-size: 18px;
        text-align: justify;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .menuHeaderTwo {
        color: #F9665C;
        text-align: center;
    }
    /* About Section for Desktop Screen */
    
    @media screen and (min-width: 992px) {
        .mainAboutContentRow {
            flex-direction: row;
        }
        .mainAboutContentColumnOne {
            flex: 50%;
            margin: 0px;
            padding: 0px;
        }
        .mainAboutImageContent {
            padding: 0px;
            margin: 0px;
            height: 600px;
        }
        .mainAboutImageContent img {
            height: 600px;
        }
        .mainAboutTextParaContent {
            font-size: 25px;
        }
    }
    /* About - Services Section starts */
    
    .servicesContainer {
        display: flex;
        flex-direction: column;
        background-color: #FBFBFD;
    }
    
    .flipPanelAboutMeWorkSkills {
        flex: 1;
        margin: 10px;
    }
    
    .techStackContent {
        flex: 1;
        margin: 10px;
    }
    
    .servicesOffered {
        flex: 1;
        margin: 10px;
    }
    
    .flipPanelWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .flipPanelWrapperKidt {
        flex: 1;
        margin: 10px;
    }
    /* Flip card*/
    
    .flip-card {
        background-color: transparent;
        width: 300px;
        height: 300px;
        perspective: 1000px;
    }
    
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
    
    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        text-align: center;
    }
    
    .flip-card-front {
        background-color: #bbb;
        color: black;
    }
    
    .flip-card-back {
        /* Other color option */
        /* background-color: #2980b9; */
        /* background-color: #90A8B4; */
        /* background-color: #3BB4CD; */
        background-color: #3C306C;
        color: white;
        transform: rotateY(180deg);
    }
    
    .flip-card-ul-list {
        text-align: left;
    }
    
    .flip-card-ul-list>li {
        margin-bottom: 4px;
        list-style-type: square;
    }
    
    .flip-card-back-content {
        padding: 1%;
        margin: 2%;
        font-family: 'calibril', Georgia, 'Times New Roman', Times, serif;
        font-size: 18px;
    }
    /* About - Services section for Desktop Screen */
    
    @media screen and (min-width: 992px) {
        .flipPanelWrapper {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        /* Flip Card */
        .flip-card-ul-list {
            font-size: 16px;
        }
        .flip-card-ul-list>li {
            margin-bottom: 2px;
        }
        .flip-card-back-content {
            padding: 1%;
            margin: 3%;
        }
    }
    /* Technology and work-services common starts */
    
    .techStackAndWorkServicesContainer {
        display: flex;
        flex-direction: row;
        /* Other color option */
        /* background-color: #FBFBFD; */
        background-color: #F2F2F2;
    }
    
    .techStackAndWorkServicesHolder {
        flex: 1;
        margin: 10px;
        width: 800px;
        height: 2000px;
        background-color: #F9F9F9;
        display: block;
    }
    /* Technology and work-services common ends */
    /*Technology Stack starts*/
    
    .techStackWrapper {
        display: flex;
        flex-direction: column;
        /* Other color option */
        /* background-color: #FBFBFD; */
        background-color: #F2F2F2;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    
    .techStackItem {
        flex: 1;
        margin-top: 3%;
        margin-bottom: 1%;
        width: 90%;
        height: auto;
        background-color: #F9F9F9;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    .techStackHeaderContainer {
        background-color: #F2F2F2;
        padding: 20px;
    }
    
    .techStackHeader {
        display: flex;
        color: #1D1D1F;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    .headerReplacement {
        text-indent: -9999px;
        width: 600px;
        height: 100px;
        background: url(../images/techStackUsed/tech-stack-mid.png) #F2F2F2 no-repeat;
        text-align: center;
    }
    /* 3d carousel */
    
    .scene {
        border: 1px solid #CCC;
        margin: 40px 0;
        position: relative;
        width: 210px;
        height: 140px;
        margin-top: 100px;
        margin-bottom: 200px;
        margin-left: auto;
        margin-right: auto;
        perspective: 1000px;
    }
    
    .carousel {
        width: 100%;
        height: 100%;
        position: absolute;
        transform: translateZ(-288px);
        transform-style: preserve-3d;
        transition: transform 1s;
    }
    
    .carousel__cell {
        position: absolute;
        width: 190px;
        /* height: 120px; */
        height: 240px;
        left: 10px;
        top: 10px;
        /* Other color and style option */
        /* border: 2px solid black; */
        border: 0.1px solid #ABABAB;
        line-height: 116px;
        font-size: 80px;
        font-weight: bold;
        color: white;
        text-align: center;
    }
    
    .carousel-content {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .carousel-content>img {
        border: 2px solid #F7F8FC;
    }
    
    .carousel-content>img:hover {
        color: #068BCD;
        box-shadow: 0 0 5px #068BCD;
        text-shadow: 0 0 5px #068BCD;
    }
    
    .carousel__cell:nth-child(9n+1) {
        background-color: #F7F8FC;
    }
    
    .carousel__cell:nth-child(9n+2) {
        background-color: #F7F8FC;
    }
    
    .carousel__cell:nth-child(9n+3) {
        background-color: #F7F8FC;
    }
    
    .carousel__cell:nth-child(9n+4) {
        background-color: #F7F8FC;
    }
    
    .carousel__cell:nth-child(9n+5) {
        background-color: #F7F8FC;
    }
    
    .carousel__cell:nth-child(9n+6) {
        background-color: #F7F8FC;
    }
    
    .carousel__cell:nth-child(9n+7) {
        background-color: #F7F8FC;
    }
    
    .carousel__cell:nth-child(9n+8) {
        background-color: #F7F8FC;
    }
    
    .carousel__cell:nth-child(9n+0) {
        background-color: #F7F8FC;
    }
    
    .carousel__cell:nth-child(1) {
        transform: rotateY( 0deg) translateZ(494px);
    }
    
    .carousel__cell:nth-child(2) {
        transform: rotateY( 24deg) translateZ(494px);
    }
    
    .carousel__cell:nth-child(3) {
        transform: rotateY( 48deg) translateZ(494px);
    }
    
    .carousel__cell:nth-child(4) {
        transform: rotateY(72deg) translateZ(494px);
    }
    
    .carousel__cell:nth-child(5) {
        transform: rotateY(96deg) translateZ(494px);
    }
    
    .carousel__cell:nth-child(6) {
        transform: rotateY(120deg) translateZ(494px);
    }
    
    .carousel__cell:nth-child(7) {
        transform: rotateY(144deg) translateZ(494px);
    }
    
    .carousel__cell:nth-child(8) {
        transform: rotateY(168deg) translateZ(494px);
    }
    
    .carousel__cell:nth-child(9) {
        transform: rotateY(192deg) translateZ(494px);
    }
    
    .carousel__cell:nth-child(10) {
        transform: rotateY(216deg) translateZ(494px);
    }
    
    .carousel__cell:nth-child(11) {
        transform: rotateY(240deg) translateZ(494px);
    }
    
    .carousel__cell:nth-child(12) {
        transform: rotateY(264deg) translateZ(494px);
    }
    
    .carousel__cell:nth-child(13) {
        transform: rotateY(288deg) translateZ(494px);
    }
    
    .carousel__cell:nth-child(14) {
        transform: rotateY(312deg) translateZ(494px);
    }
    
    .carousel__cell:nth-child(15) {
        transform: rotateY(336deg) translateZ(494px);
    }
    /* Access button for 3d carousel */
    
    .carousel-access-button-container {
        text-align: center;
    }
    
    .carousel-access-button-container>button {
        text-decoration: none;
        display: inline-block;
        padding: 16px 32px;
    }
    
    .carousel-access-button-container>button:hover {
        background-color: #ddd;
        color: black;
    }
    
    .previous {
        background-color: #f1f1f1;
        color: black;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
    }
    
    .next {
        background-color: #0071E3;
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
    }
    
    .round {
        border-radius: 30px;
    }
    /*Technology Stack ends*/
    /* Professional Services starts */
    
    .profServicesWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #F2F2F2;
    }
    
    .profServicesItem {
        flex: 1;
        margin-top: 3%;
        margin-bottom: 1%;
        background-color: #F2F2F2;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
    }
    
    .devicesImageContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #F2F2F2;
    }
    
    .devicesImageItem {
        flex: 1;
        margin: 5%;
        background-color: #F2F2F2;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .profServicesListHeaderContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #F2F2F2;
    }
    
    .profServicesListHeaderItem {
        flex: 1;
        margin: 5%;
        background-color: #F2F2F2;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .profServicesListBulletContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #F2F2F2;
    }
    
    .profServicesListBulletItem {
        flex: 1;
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .mainTable {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .leftAlign {
        flex: 80%;
    }
    
    .rightAlign {
        flex: 20%;
        text-align: center;
    }
    
    .profServHrTagContainer {
        width: 95%;
    }
    
    .profServHrTag {
        width: 100%;
    }
    
    #showWebDevContent {
        display: none;
    }
    
    #showWordpressDevContent {
        display: none;
    }
    
    #showWebSupportContent {
        display: none;
    }
    
    #showWebManageContent {
        display: none;
    }
    
    #showWebDesignContent {
        display: none;
    }
    
    #showPerfSeoContent {
        display: none;
    }
    
    .profServicesListDetails {
        font-family: 'Comfortaa', cursive;
        color: #88898E;
    }
    /* Desktop Screen */
    
    @media screen and (min-width: 992px) {
        .devicesImageContainer {
            flex-direction: row;
        }
        .devicesImageItem {
            margin: 10px;
        }
    }
    /* Professional Services ends */
    /* ---- About Me Section ends ---- */
    /****************************************************/
    /* Project Section starts */
    
    .projectSectionWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #F5F5F7;
    }
    
    .projectSectionKidt {
        flex: 1;
        background-color: #F5F5F7;
        margin: 10px;
    }
    
    .project-Title {
        font-family: 'David Libre', serif;
        font-size: 25px;
        text-align: center;
        padding: 20px;
        background: #F5F5F7;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .projectSubSectionDetailsWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #F5F5F7;
    }
    
    .projectSubSectionDetailsWrapperKidt {
        flex: 1;
        margin: 10px;
        background-color: #F5F5F7;
    }
    /*Desktop Screens */
    
    @media screen and (min-width: 992px) {
        .projectSubSectionDetailsWrapper {
            flex-direction: row;
        }
    }
    
    .individualProjectWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #F5F5F7;
    }
    
    .individualProjectKidt {
        flex: 1;
        margin-bottom: 10px;
        background-color: #F5F5F7;
    }
    
    .projectSubSectionDetailsImageContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* height: 400px; */
        /* background-color: #cfd8dd71; */
        background-color: #f5f5f7;
        padding: 10px;
        border-radius: 5px;
    }
    
    .projectSubSectionDetailsImageItem {
        flex: 1;
    }
    
    .projectSubSectionDetailsImageItem>img {
        width: 100%;
    }
    /* Desktop Screen */
    
    @media screen and (min-width: 992px) {
        .projectSubSectionDetailsImageContainer {
            /* height: 600px; */
            background-color: #f5f5f7;
        }
    }
    
    .projectAppTitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .headerProject {
        color: #068BCD;
    }
    
    .projectAppDesc {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .projectAppDescDetails {
        font-family: 'Montserrat', sans-serif;
        margin: 20px;
        text-align: justify;
    }
    /* Desktop Screen */
    
    @media screen and (min-width: 992px) {
        .projectAppDescDetails {
            margin-left: 80px;
            margin-right: 80px;
        }
    }
    
    .projectAppTechStackContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .projectAppTechStackChildt {
        flex: 1;
        margin-left: 25%;
        margin-right: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .projectAppTechStackTitle {
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
    
    .projectAppTechStack {
        width: 45%;
        overflow: hidden;
        text-align: center;
        height: 30%;
        margin-left: 25%;
        margin-right: 25%;
    }
    
    .codeRepoContainer {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    
    .codeRepo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 25%;
        margin-right: 25%;
        font-family: 'Montserrat', sans-serif;
    }
    
    .codeRepoGitLink {
        font-size: 25px;
    }
    
    .projectWebAppLiveContainer {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    
    .projectWebAppLive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 25%;
        margin-right: 25%;
        font-family: 'Montserrat', sans-serif;
    }
    
    .projectWebAppLiveLink {
        font-size: 25px;
    }
    /*Marquee starts*/
    
    .splControlWidth {
        text-align: center;
        display: flex;
        justify-content: center;
    }
    
    .marquee {
        background-color: #1c87c9;
        background-color: black;
        color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin: 0px;
        border-radius: 10px;
        width: 120px;
        overflow: hidden;
    }
    
    .marquee-content {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        animation: marqueespl 10s linear infinite;
        width: 290px;
    }
    
    .marquee-content>li {
        font-size: 50px;
        display: inline-block;
        text-align: center;
        height: 50px;
    }
    
    @keyframes marqueespl {
        0% {
            transform: translateX(100%)
        }
        100% {
            transform: translateX(-100%);
        }
    }
    /*Marquee ends */
    
    .tooltip {
        position: relative;
        display: inline-block;
    }
    
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 45px;
        height: 30px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 2px 0;
        position: absolute;
        z-index: 1;
        font-size: 10px;
    }
    
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
    /* Project Section ends */
    /****************************************************/
    /* Experience Section starts */
    
    .experienceSectionWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FBFBFD;
    }
    
    .experienceSectionKidt {
        flex: 1;
        margin-top: 3%;
        margin-bottom: 2%;
        background-color: #FBFBFD;
    }
    
    .experienceHeaderContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .experienceHeader {
        flex: 1;
        margin: 2%;
    }
    
    .experience-Title {
        background-color: #FBFBFD;
        padding: 0px;
        margin: 0px;
    }
    
    .experienceCompanyLogoUlList {
        list-style-type: none;
        text-align: center;
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .experienceCompanyLogoUlList li {
        display: inline;
        padding: 10px;
        flex: 1;
    }
    /* Small Screen */
    
    @media screen and (max-width: 992px) {
        .experienceCompanyLogoUlList {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .experienceCompanyLogoUlList li {
            flex: 1;
            margin: 10px;
            padding: 0px;
        }
        .experienceCompanyLogoUlList {
            margin-top: 5%;
            margin-bottom: 5%;
            margin-left: 1%;
            margin-right: 1%;
        }
    }
    
    .experienceSubTitleContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .experienceSubTitleHeading {
        color: #86868B;
    }
    
    .currentCompanyContent {
        display: none;
        padding-top: 50px;
        padding-left: 40px;
        padding-right: 40px;
        margin-left: 60px;
        margin-right: 60px;
    }
    /*Small Screen */
    
    @media screen and (max-width: 992px) {
        .currentCompanyContent {
            padding-top: 1%;
            padding-left: 1%;
            padding-right: 1%;
            margin-left: 1%;
            margin-right: 1%;
        }
    }
    
    .experienceCompanyLogoUlList>li>a.active {
        background-color: #cccccc;
        padding-bottom: 20px;
    }
    /* Ribbon starts*/
    
    .ribbonNav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .currentCompanyMenu {
        width: 80px;
        float: left;
        position: relative;
        cursor: pointer;
        background-color: #F5F5F7;
        list-style-type: none;
        border-left: 2px solid #d7cfc2;
        border-right: 2px solid #d7cfc2;
        transition: margin .1s, padding .1s, border 1s;
        margin: 5px;
    }
    
    .currentCompanyMenuUlContainer {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        flex: 1;
        display: flex;
    }
    /* Desktop Screen */
    
    @media screen and (min-width: 992px) {
        .ribbonNav {
            flex-direction: row;
        }
        .currentCompanyMenu {
            margin-top: 5px;
            margin-bottom: 5px;
            margin: 25px;
        }
    }
    
    .currentCompanyMenu:before,
    .currentCompanyMenu:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        width: 20px;
        height: 100%;
        background: inherit;
        transition: all .1s;
    }
    
    .currentCompanyMenu:before {
        right: 100%;
    }
    
    .currentCompanyMenu:after {
        left: 100%;
    }
    
    .currentCompanyMenu:hover {
        box-shadow: 0 4px 10px 0px #000;
        transition: margin .2s, padding .2s;
        transition-timing-function: linear;
        transition-delay: 1s;
    }
    
    .currentCompanyMenu:hover:before,
    .currentCompanyMenu:hover:after {
        height: 86%;
        background: #d7cfc2;
        transition: all .2s;
    }
    
    .currentCompanyMenu:hover:before {
        transform: rotate(-30deg) skew(-30deg) translate(1.5px, 9px);
    }
    
    .currentCompanyMenu:hover:after {
        transform: rotate(30deg) skew(30deg) translate(-1.5px, 9px);
    }
    
    .currentCompanyMenu>a {
        display: block;
        padding: 10.5px 15px;
        text-decoration: none;
        text-align: center
    }
    
    .currentCompanyMenu>a span {
        text-shadow: 1px 1px 1px #FFF;
        /* color: #857e74; */
        color: #857e74;
        transition: all .2s;
    }
    
    .currentCompanyMenu>a span:first-child {
        font-size: 33px;
        display: block;
        margin-bottom: 4px;
    }
    
    .currentCompanyMenu>a span:last-child {
        text-transform: capitalize;
        font-family: 'Georgia';
        font-size: 11px;
        letter-spacing: 1px;
        font-style: italic;
        color: #6488ba;
    }
    
    .currentCompanyMenu:hover span {
        transition: all .2s;
    }
    
    .currentCompanyMenu:hover a span:first-child {
        color: #E94256;
        text-shadow: 1px 1px 1px #FFF, 0 0 1px #6488ba;
    }
    
    .currentCompanyMenu:hover a span:last-child {
        color: #19259D;
    }
    /* Ribbon ends */
    
    .petaExperienceContentContainer {
        background-color: #F5F5F7;
        padding: 1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .petaExperienceContentContainerChild {
        flex: 1;
        margin-left: 1%;
        margin-right: 1%;
        padding: 1%;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    
    .internshipContainer:last-child {
        justify-content: center;
        align-items: center;
    }
    /* Desktop Screen */
    
    @media screen and (min-width: 992px) {
        .petaExperienceContentContainer {
            width: 900px;
            margin-left: 150px;
            margin-right: 150px;
        }
        .petaExperienceContentContainerChild {
            margin-left: 200px;
            margin-right: 100px;
            margin-top: 5px;
            margin-bottom: 5px;
            padding: 50px;
            padding: 0px;
            margin: 0px;
        }
    }
    
    .jobPositionTitle {
        color: #622AFF;
        font-size: 21px;
        line-height: 1.381;
        font-style: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        text-align: left;
    }
    
    .currentCompanyContentUl {
        list-style-type: none;
    }
    
    .currentCompanyContentUl li {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    /* Experience Section ends */
    /****************************************************/
    /* Contact section starts */
    
    .contactSectionContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .contactSectionKidt {
        flex: 1;
        margin: 10px;
    }
    
    .contact-Title {
        font-family: 'David Libre', serif;
        font-size: 25px;
        text-align: center;
        padding: 50px;
    }
    
    .backImageContainer {
        background-image: url(../images/backgrounds/contact-us.png);
        width: 100%;
        height: 800px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    .formContainer {
        background-color: rgba(0, 0, 0, 0.75);
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 20%;
        padding-right: 20%;
        height: 600px;
        margin-bottom: 10%;
        margin-left: 10%;
        margin-right: 10%;
    }
    /*Small Screen */
    
    @media screen and (max-width: 992px) {
        .backImageContainer {
            height: 900px;
        }
        .formContainer {
            background-color: rgba(0, 0, 0, 0.75);
            padding-left: 15%;
            padding-right: 15%;
            padding-top: 15%;
            height: 70%;
            margin: 1%;
            padding-bottom: 30%;
        }
    }
    
    .firstNameInputBoxContact {
        padding: 10px;
        margin: 30px 0;
        border: 2px solid #729BC2;
        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
        display: block;
        border-radius: 10px;
        width: 100%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: inherit;
    }
    
    .lastNameInputBoxContact {
        padding: 10px;
        margin: 30px 0;
        border: 2px solid #729BC2;
        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
        display: block;
        border-radius: 10px;
        width: 100%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: inherit;
    }
    
    .emailInputBoxContact {
        padding: 10px;
        margin: 30px 0;
        border: 2px solid #729BC2;
        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
        display: block;
        border-radius: 10px;
        width: 100%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: inherit;
    }
    
    .messageInputBoxContact {
        resize: both;
        padding: 15px;
        margin: 30px 0;
        border: 2px solid #729BC2;
        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
        display: block;
        border-radius: 10px;
        width: 100%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: inherit;
        height: 150px;
    }
    
    .sendButtonInputBoxContact {
        appearance: none;
        padding: 20px;
        border: none;
        background-color: #3F51B5;
        color: #fff;
        font-weight: 600;
        border-radius: 5px;
        width: 100%;
    }
    /* Contact section ends here */
    /****************************************************/
    /* footer Section starts */
    
    footer {
        bottom: 0;
        padding: 0px;
        margin: 0px;
    }
    
    .footer-container {
        background-color: #f2f2f2;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        font: bold 16px sans-serif;
        padding: 55px 50px;
    }
    
    .footer-container .footer-left,
    .footer-container .footer-center,
    .footer-container .footer-right {
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
    }
    
    .footer-container .footer-left {
        width: 40%;
    }
    
    .footer-container h3 {
        color: #555555;
        font: normal 36px 'Cookie', cursive;
        margin: 0;
        text-align: center;
    }
    
    .footer-container h3 span {
        color: #4E69FC;
    }
    
    .footer-container .footer-links {
        color: #555555;
        margin: 20px 0 12px;
        padding: 0;
        text-decoration: none;
    }
    
    .footer-container .footer-links a {
        line-height: 1.8;
        text-decoration: none;
        color: inherit;
    }
    
    .footer-links a:hover {
        text-decoration: underline;
    }
    
    .footer-links {
        display: inline-flex;
        flex-direction: column;
    }
    
    .footer-links a {
        flex: 1 1 auto;
    }
    /* Desktop Screen */
    
    @media screen and (min-width: 992px) {
        .footer-links {
            flex-direction: row;
            align-content: stretch;
        }
        .footer-links a {
            flex: 1 1 auto;
            margin: 0px;
            padding: 0px;
            text-align: center;
            align-content: stretch;
        }
        .footer-container h3 {
            text-align: left;
        }
    }
    
    .footer-container {
        color: #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0px;
    }
    
    .footer-company-name {
        color: #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin-top: 60px;
        text-align: center;
        padding: 10px;
    }
    
    .footer-container .footer-center {
        width: 35%;
    }
    
    .footer-name {
        text-align: left;
    }
    
    .footer-container .footer-center i {
        background-color: #33383b;
        color: #ffffff;
        font-size: 25px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;
    }
    /* Small Screen */
    
    @media screen and (max-width: 992px) {
        .footer-center {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .footer-center-kidt {
            flex: 1;
            text-align: center;
            margin: 0px;
        }
        .footer-center i {
            text-align: left;
        }
        .footer-center {
            text-align: left;
        }
    }
    
    .footer-center i:hover {
        color: #33BBD7;
    }
    
    .footer-container .footer-center i.fa-envelope {
        font-size: 17px;
        line-height: 38px;
    }
    
    .footer-container .footer-center p {
        display: inline-block;
        color: #555555;
        vertical-align: middle;
        margin: 0;
    }
    
    .footer-container .footer-center p span {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 2;
    }
    
    .footer-container .footer-center p a {
        color: #4E69FC;
        text-decoration: none;
    }
    
    .footer-container .footer-right {
        width: 20%;
    }
    
    .footer-container .footer-company-about {
        line-height: 20px;
        color: #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }
    
    .footer-container .footer-company-about span {
        display: block;
        color: #555555;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .footer-container .footer-icons {
        margin-top: 25px;
    }
    
    .footer-container .footer-icons a {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color: #33383b;
        border-radius: 2px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
        margin-right: 3px;
        margin-bottom: 5px;
    }
    
    .footer-icons a:hover {
        color: #33BBD7;
    }
    /* Small Screen */
    
    @media (max-width: 992px) {
        .footer-container {
            font: bold 14px sans-serif;
        }
        .footer-container .footer-left,
        .footer-container .footer-center,
        .footer-container .footer-right {
            display: block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }
        .footer-container .footer-center i {
            margin-left: 0;
        }
    }
    /****************************************************/
    /* Custom Dilog box */
    
    #dialogbox {
        display: none;
        position: fixed;
        border-radius: 7px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 75%;
        z-index: 10000;
        border: 2px solid gray;
        background-color: rgba(255, 255, 255, 0.91);
    }
    /*For Desktop Screen */
    
    @media screen and (min-width: 992px) {
        #dialogbox {
            width: 550px;
        }
    }
    
    #dialogbox>div {
        margin: 8px;
    }
    
    #dialogbox>div>#dialogboxhead {
        background-color: black;
        font-size: 19px;
        padding: 10px;
        color: #CCC;
    }
    
    .centeredPrompt {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 400px;
        padding: 15px;
    }
    
    .centeredPrompt__item+.centeredPrompt__item {
        margin-top: 5px;
    }
    
    .centeredPromptIcon {
        font-size: 65px;
        line-height: 0;
    }
    
    .centeredPromptLabel {
        color: #0D375A;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }
    
    .centeredPromptDetails {
        color: #0D375A;
        font-size: 16px;
        margin-bottom: 10px;
        text-align: center;
    }
    
    .icon {
        color: #3298FC;
    }
    /****************************************************/